html
    head
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        title= title
    body
        h1(class="text-warning bg-dark")= message
    